<h1><%= @trip.name %> Locations</h1>
 <ul>
  <%= @locations.each do |location| %>
    <li>
      <%= link_to location.name, [@trip, @location ]%>
    </li>
    <% end %>
 </ul>

 <%= link_to 'Create new location', new_trip_location_path(@trip) %>


